.App{
  display: flex;
  justify-content: center;
}

.task{
  border: 3px solid;
  display: flex;
  justify-content: space-around;
  color: red;
}

.task-complete{
  border:3px solid;
  display: flex;
  justify-content: space-around;
  color: green;
}

.footer button:focus,:active{
  color: blue;
}